{# app/Resources/views/product/list.html.twig #}
{% extends 'product/product.html.twig' %}

{% block content %}

    <h2>Výpis produktů
        {% if category is defined and category is not null %}
            kategorie {{ category.name }}
        {% endif %}
    </h2>

    <div class=beforetablebutton>
        <a href='{{ path('new_product') }}' title='Vytvoření nového produktu'>
            <i class='fa fa-pencil'></i> Nový produkt
        </a>
    </div>
    <div class=listWrapper>
        <table class=list>
            <tr>
                <th>Název</th>
                <th>Kategorie</th>
                <th>Cena</th>
                <th></th>
            </tr>
            {% for product in products %}
                <tr>
                    <td><a href='{{ path('one_product', {'productId': product.id}) }}'>{{ product.name }}</a></td>
                    <td><a href='{{ path('one_category',
                        {'categoryId': product.category.id}) }}'>{{ product.category.name }}</a></td>
                    <td>{{ product.price }},- Kč</td>
                    <td class="flags">
                        <span>
                        <span><a href='{{ path('edit_product',
                            {'productId': product.id}) }}'><i class='fa fa-pencil'></i></a></span>
                        <span><a href='{{ path('delete_product',
                            {'productId': product.id}) }}'><i class='fa fa-trash-o'></i></a></span>
                        </span>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan=4>Nebyly nalezeny žádné výrobky.</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
