{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orderproduct</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ orderProduct.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ orderProduct.amount }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('orderproductd_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('orderproductd_edit', { 'id': orderProduct.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
